.nav > ul{
    display: flex;
    justify-content: center;
}

.nav ul li{
    padding: 5px;
    list-style: none;
}

.nav li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-transform: capitalize;
}

.nav li a::after{
    content: " | ";
}

.nav li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

